/*removing underline from links*/
a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 25px;
}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 70px;
}

.highlight {
    color: #d769f8;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 20px;
}

.bold-trackify {
    font-weight: bold;
}

.color-focus {
    color: #d769f8;
    font-weight: bold;
}

